.idea/
spark-single-node/app/spark_events/
spark-single-node/app/.ipynb_checkpoints/
.DS_Store

spark-yarn-hostname/book_data/
spark-multinode-yarn/book_data/
spark-multinode-standalone/book_data/
/backup/
/docker-compose.generated.yml
/yarn-generated/
/book_data/backblaze_data/