.idea/
spark-single-node/app/spark_events/
spark-single-node/app/spark_etl/
spark-single-node/app/spark_etl-0.0.1.zip
spark-single-node/app/.Trash-1000
spark-single-node/app/resources/

spark-single-node/app/.ipynb_checkpoints/
.DS_Store

spark-yarn-hostname/book_data/
spark-multinode-yarn/book_data/
spark-multinode-standalone/book_data/
/backup/
/docker-compose.generated.yml
/yarn-generated/
